<%= form_for([@commentable, @comment]) do |f| %>
  <div class="row">
    <div class="small-12 columns">`
      <div class="field">
        <%= f.label "Add a comment:" %><br />
        <%= f.text_area :content %>
      </div>

      <% if policy(@comment).admin? %>
        <div class="row">
          <div class="small-3 small-centered columns">
            <div class="field" align="center">
              <%= f.label :approved, title: "Is this comment approved?" %><%= f.check_box :approved, :id => "approved" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <br />
    <div class="actions" align="center">
      <%= f.submit %>
    </div>
  </div>
<% end %>
