<div align="center"><h1>All Comments</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Content</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <% if comment.approved? || policy(comment).modify? %>
          <td><%= comment.author %></td>
          <td><%= comment.content %></td>
          <td><%= comment.commentable.title %></td>
          <td><%= link_to 'Show', "comments/#{comment.id}" %></td>
        <% end %>
        <% if policy(comment).modify? %>
        <td><%= link_to 'Edit', "edit_#{@commentable}_comment_path(@commentable, comment)" %></td>
        <td><%= link_to 'Destroy', [@commentable, comment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Post', @commentable %>
</div>
