<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @comment.author %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>On Post:</strong>
  <%= @comment.commentable.title %>
</p>

<% if policy(Comment).modify? %>
<p>
  <strong>Approved:</strong>
  <%= @comment.approved %>
</p>
<% end %>

<%= link_to 'Edit', :back %> | <%= link_to 'Destroy', [@commentable, @comment], method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
<%= link_to 'Back', @commentable %>
