<p id="notice"><%= notice %></p>

<div class="row">
  <div class="callout-panel radius">
    <small>
      <strong>Author:</strong>
      <%= @comment.author %>
      <br>
      <strong>On Post:</strong>
      <%= @comment.commentable.title %>
    </small>

    <blockquote style="font-size: .8em">
      <%= @comment.content %>
    </blockquote>

    <% if policy(@comment).admin? %>
    <p>
      <strong>Approved:</strong>
      <%= @comment.approved %>
    </p>
    <% end %>
  </div>
</div>
<% if policy(@comment).modify? %>
  <%= link_to 'Edit', edit_post_comment_path(@commentable.id, @comment) %> | <%= link_to 'Destroy', [@commentable, @comment], method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
<% end %>
<%= link_to 'Back', @commentable %>

