<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @comment.author_email %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @comment.approved %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment.post %>
</p>

<%= link_to 'Edit', edit_post_comment_path %> |
<%= link_to 'Back', post_comments_path %>
