<%= form_tag(controller: "home", action: "contact", method: "post")  do %>
  <div class="row">
    <div class="small-12 columns">
      <%= label_tag(:name) %>
      <%= text_field_tag(:name) %>

      <%= label_tag(:email) %>
      <%= text_field_tag(:email) %>

      <%= label_tag(:message) %>
      <%= text_area_tag(:message) %>

      <div align="center">
        <%= submit_tag "Send Email" %>
      </div>
    </div>
  </div>
<% end %>
