<div class="row" align="center">
  <h1>Stuff I've Done</h1><br />

  <div class="large-block-grid-4">
    <% @projects.each do |project| %>
      <li>
        <div class="project" id="<%= dom_id(project) %>">
          <div class="panel radius">
            <h3><%= link_to project.title, project %></h3>
            <div style="line-height: 12em; background-color: #7F7F7F">
              <%= link_to image_tag(project.image_url(:thumb).to_s), project %><br>
            </div>
            <div class="callout-panel radius" style="height: 12em; margin: .5em; padding: .5em; padding-top: 0em">
              <div align="left" style="margin: 0em; padding: 0em">
                <h4 style="margin: 0em; padding: 0em"><small>Tech used:</small></h4>
              </div>
              <div align="justify">
                <% project.tech.split(", ").each do |t| %>
                <small><%= t %></br></small>
                <% end %>
              </div>
              <div align="left" style="margin: 0em; padding: 0em">
                <h4 style="margin: 0em; padding: 0em"><small>Description:</small></h4>
              </div>
              <div align="justify">
                <small><%= project.description %></small>
              </div>
            </div>
            <div class="nav">
              <% if policy(project).publish? %>
                <%= link_to 'Edit', edit_project_path(project) %> |
                <%= link_to 'Destroy', project, method: :delete, data: {confirm: 'Are you sure?'} %>
                <% end %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </div>
  <% if policy(@projects).publish? %>
    <%= link_to 'New Project', new_project_path %>
  <% end %>
</div>
