<div class="row">
  <div class="panel radius">
    <h3>
      <%= @project.title %><br />
    </h3>

    <div class="large-block-grid-4">
    </div>

    <div id="tech" style="color: #3A173E">
      <t style="font-family: 'saucer_bbregular'">Tech:</t> <%= @project.tech %>
    </div><br>

    <%= image_tag @project.image_url.to_s %><br><br>

    <div id="tech" style="color: #3A173E">
      <t style="font-family: 'saucer_bbregular'">Description:</t> <%= @project.description %>
    </div><br>

    <% if policy(@project).publish? %>
      <%= link_to 'Edit', edit_project_path(@project) %>
    <% end %>
  </div>
  <%= link_to 'Back', projects_path %>

  <%= render 'comments/form' %>

  <h5>Waddaya Say?</h5>
  <% @project.comments.each do |comment| %>
    <% if comment.id != nil && comment.approved? || comment.id != nil && policy(comment).modify? %>
      <div class="callout-panel radius">
        <%= link_to comment.author, project_comment_url(@project, comment) %>
        <blockquote><%= comment.content %></blockquote>
      </div>
    <% end %>
  <% end %>
  <%= link_to 'All Comments', project_comments_path(@project) %>
</div>
