<div class="row">
  <div class="panel radius">
    <h3>
      <strong><%= @project.title %></strong><br />
    </h3>

    <div class="large-block-grid-4">
    </div>

    <h4 id="tech">
      <small style="color: #3A173E">
        <b>Tech:</b>
        <%= @project.tech %>
      </small>
    </h4>
    <%= image_tag @project.image_url.to_s %>
    <h4 id="description">
      <small style="color: #3A173E">
      <b>Description:</b>
      <%= @project.description %>
      </small>
    </h4>

    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Back', projects_path %>
  </div>

  <% if current_user %>
  <%= render 'comments/form' %>
  <% end %>

  <h5><strong>Waddaya Say?</strong></h5>
  <% @project.comments.each do |comment| %>
    <% if comment.id != nil && comment.approved? || comment.id != nil && policy(comment).modify? %>
      <div class="callout-panel radius">
        <%= link_to comment.author, project_comment_url(@project, comment) %>
        <blockquote><%= comment.content %></blockquote>
      </div>
    <% end %>
  <% end %>
  <%= link_to 'All Comments', project_comments_path(@project) %>
</div>
