<%= render 'comments/flash' %>
<div class="row">
  <div class="panel callout radius">
    <h3>
      <%= @post.title %><br />
    </h3>

    <p>
      <%= @post.body %>
    </p>

    <div id="author" style="font-size: 80%; color: #3A173E;">
        <b>By:</b>
        <%= @post.author.email %>
    </div>

    <% if policy(@post).modify? %>
    <div id="status" style="font-size: 80%; color: #3A173E;">
        <b>Status:</b>
          <% if @post.published? %>
            Published
          <% else %>
            Not Published
          <% end %>
    </div><br>
      <%= link_to 'Edit', edit_post_path(@post) %>
    <% end %>
  </div>
  <%= link_to 'Back', posts_path %>

  <%= render 'comments/form' %>


  <h5>Waddaya Say?</h5>
  <% @post.comments.each do |comment| %>
    <% if comment.id && comment.approved? || comment.id != nil && policy(comment).modify? %>
      <div class="panel radius">
        <%= link_to comment.author, post_comment_url(@post, comment) %>
        <blockquote><%= comment.content %></blockquote>
        <% if policy(comment).modify? %>
          <p>
            <strong>Approved:</strong>
            <%= comment.approved %>
          </p>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <%= link_to 'All Comments', post_comments_path(@post) %>
</div>
