<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area" style="position: fixed; z-index: 2">
      <li class="name" style="padding: .25em">
        <%= link_to image_tag('http://placehold.it/200x40/3B173E'), root_path %></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li><%= link_to "Code", projects_path %></a></li>
        <li class="divider"></li>
        <li><%= link_to "Art", url: ("#") %></a></li>
        <li class="divider"></li>
        <li><%= link_to "Blog", posts_path %></a></li>
      </ul>
      <div id="user_nav">
        <ul class="right">
          <% if current_user %>
            <li class="has-form">
              <a href=<%= destroy_user_session_path %> class="login-button" id="logout" style="padding-top: .1em; padding-right: 2em; font-size: .8em;">Log Out</a>
            </li>
          <% else %>
            <li class="has-form">
              <a href=<%= new_user_session_path %> class="login-button" id="login" style="padding-top: .1em; padding-right: 2em; font-size: .8em;">Log In</a>
            </li>
            <li class="has-form">
              <a href=<%= new_user_registration_path %> class="login-button" id="register" style="padding-top: .1em; padding-right: 2em; font-size: .8em;">Register</a>
            </li>
          <% end %>
        </ul>
      </div>
      <div style="height: 1.75em"></div>
      <div class="purple-box" style="height: .25em"></div>
      <div class="cyan-box" style="height: .20em"></div>
      <div class="gray-box" style="height: 1em"></div>
      <div class="green-box" style="margin-top: .5em; height: .125em"></div>
    </section>
  </nav>
</div>
<div class="green-box" style="position: fixed; right: .5em; width: 1em; height: 100%; opacity: .3"></div>
<div class="green-box" style="position: fixed; right: .2em; width: .25em; height: 100%"></div>
<div class="green-box" style="position: fixed; left: .75em; width: 1px; height: 100%; opacity: .3"></div>
