<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Samantha Camus | Code and Art" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <%= render '/layouts/nav' %>
  <!-- Flash Notice -->
  <% if flash[:notice] %>
    <div class="alert-box success radius" align="center">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div style="height: 3em"></div>
  <%= yield %>
  <%= javascript_include_tag "application" %>
  </body>
</html>
