<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Samantha Camus | Code and Art" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <%= link_to image_tag('http://www.adobe.com/content/dam/Adobe/images/shared/product_mnemonics/48x48/kuler-48x48.png'), root_path %></a>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li class="divider"></li>
            <li><%= link_to "Code", projects_path %></a></li>
            <li class="divider"></li>
            <li><%= link_to "Art", projects_path %></a></li>
            <li class="divider"></li>
            <li><%= link_to "Blog", posts_path %></a></li>
          </ul>
          <div id="user_nav">
            <ul class="right">
              <% if current_user %>
                <li class="has-form">
                  <a href=<%= destroy_user_session_path %> class="button [bit radius]" id="logout">Log Out</a>
                </li>
              <% else %>
                <li class="has-form">
                  <a href=<%= new_user_session_path %> class="button [big radius]" id="login">Log In</a>
                </li>
                <li class="has-form">
                  <a href=<%= new_user_registration_path %> class="button [big radius]" id="register">Register</a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </br>
    <!-- Flash Notice -->
    <% if flash[:notice] %>
      <div class="alert-box radius">
        <%= flash[:notice] %>
      </div>
    <% end %>


    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
